* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  min-height: 100vh;
}

.title {
  margin-top: 20px;
  text-align: center;
}

.recipe-options {
  width: 80%;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.recipes-container {
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid white;
  border-radius: 10px;
}

.recipe-container {
  display: flex;
  flex-direction: column;
}

.recipe-img {
  width: 100%;
  height: 30%;
  background-size: cover;
  border-radius: 5px;
  object-fit: cover;
}